[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypinyin = "*"
beautifulsoup4 = "*"
htmlbuilder = "*"
requests = "*"
jieba = "*"
pynlpir = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
clean = "python3 ./scripts/clean.py"